.client-summary h2 {
    font-weight: 800;
}
.client-summary .list-item {
    background-color: rgb(241, 241, 241);
}
.list {
    list-style: none;
}
.list-item {
    width: 40vw;
    padding: 0.5rem;
    border: 0.1px solid lightgray;
}