.container{    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; 
}
.item {
    color: rgb(0, 0, 0);
    background-color: #ffffff1e;
    border-radius: 50%;
    text-align: center;
    margin: 3px auto;
    border: 1px solid #083180 ;
    transition: all 0.3s;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover {
    box-shadow: 3px 3px 18px #083180;
    background-color: #babdbe;
    color: #083180;    
}
.item .img {
    width: 2rem;
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}
h4 {
    margin: auto;
    font-size: 12px;
    width: 6rem;
}

@media screen and (max-width: 60em) {
    .item {
        width: 10rem;
        height: 10rem;
    }
    .item img {
        width: 6rem;
        height: 6rem;
    }
    .item h4 {
        font-size: 1rem;
        margin: 0;
    }
}
/* #FFFFFF #CDC6BA #B99B69 #715549 #352D27 */
