@import "../../style.css";
.weInfo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.weInfo .weImg {
  min-width: 25vw;
  height: 15rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weInfo .weImg img {
  width: auto;
  height: 60%;
}
.weInfo .weDescription {
  width: 70vw;
  margin-top: 3rem;
  color: white;
  text-align: center;
}
.weInfo .weDescription h1 {
  font-weight: bold;
  color: white;
  margin-bottom: 2rem;
}
.weInfo .weDescription h3 {
  font-weight: normal;
  color: white;
  margin-bottom: 2rem;
}

@media screen and (max-width: 62em) {
  .weInfo .weImg {
    padding: 5rem;
  }
  .weInfo .weImg img {
    width: 15rem;
    height: auto;
  }
}
@media screen and (max-width: 48em) {
  .weInfo .weImg {
    height: 10rem;
  }
  .weInfo .weImg img {
    width: 15rem;
    height: 5rem;
  }
}
