@import "../../style.css";
.weinfo-img {
  width: 12rem;
}

@media screen and (min-width: 30em) {
  .weinfo p {
    max-width: 80%;
  }
}
@media screen and (min-width: 60em) {
  .weinfo-img {
    width: 15rem;
  }
}
