.nav-item{
  padding-right: 2rem;
}
.mobile-item{
    display: none;
}
embed {
  margin-left: 2rem;
  width: 140px;
  height: 40px;
}
.navbar-toggler {
  margin-right: 0.5rem;
}

@media screen and (max-width: 61.938em) {
  embed {
    margin-left: 0px;
    width: 100px;
    height: 30px;
  }
  .mobile-item{
    display: block;
  }
  .desk-item {
    display: none;
  }
}