.nav-item{
  padding-right: 2rem;
}
.mobile-item{
    display: none;
}
.navbar img {
  margin-left: 1rem;
  width: 340px;
  height: 100%;
}
.navbar-toggler {
  margin-right: 0.5rem;
}

@media screen and (max-width: 61.938em) {
  .navbar img {
    margin-left: 0.5rem;
    width: 200px;
    height: 100%;
  }
  .mobile-item{
    display: block;
  }
  .desk-item {
    display: none;
  }
}