.client-summary h2 {
    font-weight: 800;
}
.client-summary .list-item {
    background-color: rgb(241, 241, 241);
}
.list {
    list-style: none;
}
.list-item {
    width: 40vw;
    padding: 0.5rem;
    border: 0.1px solid lightgray;
}
.summary-card {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border: 1px solid var(--color-first-dark);
    text-align: left;
}