@import '../../../style.css';

.top {
    color: black;
    font-size: 30px;

}

.sidebar {
    background-color: #fff;
    max-width: 20%;
    min-width: 20%;
}

.bar {
    background-color: #000;
    border-radius: 0 0 5px 0;
    flex: 1;
    border-right: .5px solid --color-first-medium;
    min-height: 100vh;
}

.top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar hr {
    height: 0px;
    margin-top: -3px;
    border: .5px solid --color-first-medium;
}

.sidebar .center {
    padding-left: 10px;
}

.sidebar .center ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.centerP {
    font-size: 17px;
    font-weight: bold;
    color: var(--color-gray-medium);
    margin-top: 15px;
    margin-bottom: 5px;
}

.center ul li {
    align-items: center;
    padding: 5px;
    cursor: pointer;
    padding-right: 20px;
    font-size: large;
}

.center ul li svg {
    font-size: 16px;
    margin-right: 10px;
}

.center ul li:hover {
    background-color: #0cb1f6;
    color: #fff;
}

@media (min-width: 60em) {
    .selected {
        color: #000;
        border-left: 4px solid;
        font-weight: 600;
        border-color: var(--color-first-light-one);
        background-color: #d7dcff;
        white-space: nowrap;
    }
}


@media (max-width: 60em) {
    .sidebar{
        max-width: 100%;        
    }
    .text {
        display: none;
    }
    .centerP{
        padding: 0 10px 0 0 ;
        display: none;
    }
    .sidebar .center ul {
        display: flex;
        justify-content: space-evenly;
    }
    .center ul li {
        padding-right: 8px;
    }
    .center ul li svg {
        margin-right: 0px;
    }
}