.social-item {
  width: 1.2rem;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  transition: all .2s;
}
.social-item i {
  color: var(--color-first-light-one);
}

.footer a {
  color: var(--color-first-light-one);
}
.copyright a {
  color: var(--color-first-light-two);
}

@media screen and (min-width: 48em) and (max-width: 60em) {
  .flexrow-m {
    flex-direction: row;
  }
  .w-50m {
    width: 50%;
  }
}
@media screen and (min-width: 60em) {
  .social-item:hover {
    background-color: var(--color-first-light-two);
  }
  .social-item:hover i {
    color: white;
  }
}
