.featureds {
    flex: 2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, .47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, .47);
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;

}

.featureds .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
}

.featureds .top .title {
    font-size: 16px;
    font-weight: 500;
}

.featureds .bottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.featureds .featuredChart {
    width: 100px;
    height: 100px;
}

.featureds .bottom .title {
    font-weight: 500;
    color: grey;
}

.featureds .bottom .amount {
    font-size: 30px;
}

.featureds .bottom .desc {
    font-size: 12px;
    font-weight: 300;
    color: grey;
    text-align: center;
}

.featureds .bottom .summary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featureds .bottom .summary .items {
    text-align: center;
}

.featureds .bottom .summary .items .itemTitle {
    font-size: 16px;
    color: grey;
}

.featureds .bottom .summary .items .itemResult {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
}