.contentInfo{
    display:flex;
    justify-content: space-evenly;
}

.contentImage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentForm{
    display: flex;
}
.form{
    width:400px;
    display:flex; 
    flex-direction:column
}

@media (max-width: 900px) {
    .contentInfo{
        display:flex;
        flex-direction: column;
    }
    .contentForm{
        justify-content: space-around;
    }
    .form{
        width: 200px;
    }
  }