:root {
    --color-first-dark: #0e2247;
    --color-first-medium: #112751;
    --color-first-medium-light: #083180;
    --color-first-light-one: #0037c1;
    --color-first-light-two: #0cb1f6;
    --color-gray-dark: #585a5b;
    --color-gray-medium: #818181;
    --color-gray-light: #adadad4b;

    --font-family: "Poppins", sans-serif;
}
.button {
    color: #fff;
    padding: 0.5rem;
    border: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.main-button {
    background-color: var(--color-first-medium);
}
.back-button {
    background-color: var(--color-gray-medium);
}