:root {
    --color-first-dark: #0e2247;
    --color-first-medium: #112751;
    --color-first-medium-light: #083180;
    --color-first-light-one: #0037c1;
    --color-first-light-two: #0cb1f6;
    --color-gray-dark: #585a5b;
    --color-gray-medium: #818181;
    --color-gray-light: #adadad4b;

    --font-family: "Poppins", sans-serif;
}