.mapContainer {
  margin-top: 5rem;
  text-align: center;
  position: relative;
}

.mapContainer iframe {
  width: 80vw;
  height: 60vh;
}

.mapContainer, .infoContact {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapContainer, .infoContact p {
  background-color: white;
  width: fit-content;
  padding: 2rem;
  margin: 1rem;
}

@media screen and (max-width: 60em) {
  .mapContainer .infoContact b {
    font-size: 1rem;
  }
  .mapContainer .infoContact p {
    font-size: 1rem;
    padding: 1rem;
  }
  .infoContact{
    
  }
}
