.item {
    color: rgb(0, 0, 0);
    background-color: #ffffff1e;
    border-radius: 22px;
    text-align: center;
    margin: 5px;
    transition: all 0.3s;
    width: 15rem;
    height: 15rem;
}

.item:hover {
    box-shadow: 0px 0px 15px #0037c1;
    background-color: #adadad4b;
    color: #0037c1;    
}
.item img {
    width: 10rem;
    height: 10rem;
}
.item h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

@media screen and (max-width: 60em) {
    .item {
        width: 10rem;
        height: 10rem;
    }
    .item img {
        width: 6rem;
        height: 6rem;
    }
    .item h4 {
        font-size: 1rem;
        margin: 0;
    }
}
/* #FFFFFF #CDC6BA #B99B69 #715549 #352D27 */