@import '../../style.css';

.product-card {
    color: var(--color-first-dark);
    background-color: var(--color-gray-light);
    border-radius: 2px;
    margin: 5px;
    transition: all 0.3s;
    width: 7rem;
    height: 7rem;
}

.product-card svg {
    width: 2rem;
    height: 2rem;
}

@media screen and (min-width: 48em) {
    .product-card svg {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media screen and (min-width: 60em) {
    .product-card:hover {
        box-shadow: 0px 0px 15px var(--color-first-light-one);
        background-color: var(--color-gray-light);
        color: var(--color-first-light-one);    
    }
}
