@import '../../style.css';

.item {
    color: var(--color-first-dark);
    background-color: var(--color-gray-light);
    border-radius: 5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition: all 0.3s;
    width: 7rem;
    height: 7rem;
}

.item:hover {
    box-shadow: 0px 0px 15px var(--color-first-light-one);
    background-color: var(--color-gray-light);
    color: var(--color-first-light-one);    
    /* color: #0037c1;     */
}
.item .img {
    width: 2rem;
    height: 2rem;
}
.item h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

@media screen and (max-width: 60em) {
    .item {
        width: 10rem;
        height: 10rem;
    }
    .item img {
        width: 6rem;
        height: 6rem;
    }
    .item h4 {
        font-size: 1rem;
        margin: 0;
    }
}
/* #FFFFFF #CDC6BA #B99B69 #715549 #352D27 */