.content {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 60em) {
  .container {
    width: 90vw;
  }
  .content {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
