.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

ul.item-selector-content{
  width: 100%;
}
.item-selector-content{
  width: 10%;
  height: 3rem;
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.item-selector :hover{
  color: var(--color-gray-dark);
  cursor: pointer;
  font-weight: 500;
}

a {
  text-decoration: none;
}
a.buttonChange {
  color: var(--color-gray-medium);
  margin: 0 2rem;
}
a.selected {
  color: var(--color-gray-dark);
  font-weight: 500;
}

@media (max-width: 60em) {
  .container {
    width: 90vw;
  }

  .content {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}