.item-selector {
  color: var(--color-gray-medium);
}
.selected {
  color: var(--color-gray-dark);
  font-weight: 500;
}

@media screen and (min-width: 60em) {
  .item-selector:hover {
    color: var(--color-gray-dark);
    cursor: pointer;
    font-weight: 500;
  }
}
